{% extends 'base.html' %}

{% block app_content %}
    {% import 'components.html' as comp %}
    <br><br>
    <h1>Caja del día</h1>
    <br>
    <div class="container">
        <div class = "col">
            <p>Billetes: </p>
            {% for billete in balance %}
                
            {% endfor %}
        </div>
        <div class = "col">
            <p>Saldo total: ${{ saldo_total }}</p>
        </div>
        <div class = "col">
            <p>Cambio en monedas: ${{ cambio }}</p>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <a href="{{ url_for('cambiar', cambio_total = cambio) }}">Cambiar monedas</a>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h2>Entradas</h2>
            </div>
            <div class="col">
                <a href = "{{ url_for('operacion', tipo = 'entrada') }}" class="btn btn-light" style="background-color: #CBFA8E;">
                    <img src="{{ url_for('static', filename = 'plus-circle.svg' )}}" alt="">
                    Agregar
                </a>
            </div>
        </div>
    </div>
    <div class = "container">
        <div class="row align-items-start">
            {% for entrada in entradas %}
                <div class="col-3">
                    {{ comp.render_operation(entrada) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row align-items-start">
            <div class="col">
                <h2>Salidas</h2>
            </div>
            <div class="col">
                <a href = "{{ url_for('operacion', tipo = 'salida') }}" class="btn btn-light" style="background-color: #CBFA8E;">
                    <img src="{{ url_for('static', filename = 'plus-circle.svg' )}}" alt="">
                    Agregar
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class = "container">
        <div class="row align-items-start">
            {% for salida in salidas %}
                <div class="col-3">
                    {{ comp.render_operation(salida) }}
                </div>
            {% endfor %}
        </div>
    </div>

        
{% endblock %}