{% extends 'base.html' %}

{% block app_content %}
{% import 'components.html' as comp %}
{% import 'bootstrap/wtf.html' as wtf %}

<br>
<div class="row d-flex justify-content-center">
    <div class = "col-md-6">
        <h1>Editar operación de {{operacion.tipo}}</h1>
        <div class="col align-self-end">
            <button class="btn btn-light" style="background-color: #F56F6B;" data-bs-toggle="modal" data-bs-target="#Modal1">
                <img src="{{ url_for('static', filename = 'trash.svg' )}}" alt="">
                Eliminar
            </button>    
        </div>
        <br>
        <div class = "col-md-12">
            {{wtf.quick_form(form)}}
        </div>
    </div>    
</div>
  
<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Eliminar {{ operacion.tipo }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Está seguro de que desea eliminar la {{ operacion.tipo }} con id: {{ operacion.id }}?
              Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <a type="button" class="btn btn-danger" href="{{ url_for('eliminar', tipo = operacion.tipo, id = operacion.id) }}">Eliminar</a>
            </div>
          </div>
        </div>
    </div>

{% endblock %}